.form{
    display: flex;
    flex-direction: column;
    width:387px;
   
    padding: 12px 12px;
    margin: 12px 473px;
    background-color: black;
}
.form input{
    width: 289px;
    height: 34px;
    border: none;
    margin-left: 15px;
    outline: none;
}
.form button{
    background-color: white;
    color: black;
    width: 298px;
    height: 45px;
    margin-top:12px;
    color:hsl(240 5% 64.9%);
    margin-left: 12px;
}
.form label{
    margin: 12px;
    color:hsl(240 5% 64.9%);
}